# R语言循环语句

R语言提供的循环语句有：
1. for循环
2. repeat循环
3. while循环

R语言提供的循环控制语句有：
1. break语句
2. next语句

## for循环

R 编程语言中 for 循环语句可以重复执行指定语句，重复次数可在 for 语句中控制。

语法格式如下：

for (value in vector) 

{
    statements
}

R 语言的 for 循环特别灵活，不仅可以循环整数变量，还可以对字符向量，逻辑向量，列表等数据类型进行迭代。

以下实例输出 26 个字母对前面四个字母

In [3]:
v <- LETTERS[1:4]
v
for (i in v)
{
    print(i)
}

[1] "A" "B" "C" "D"

[1] "A"
[1] "B"
[1] "C"
[1] "D"

In [4]:
for (i in 1:length(v))
    {
    print(v[i])
}

[1] "A"
[1] "B"
[1] "C"
[1] "D"

In [6]:
library(tidyverse)

df <- tibble(
  a = rnorm(10),
  b = rnorm(10),
  c = rnorm(10),
  d = rnorm(10)
)

In [7]:
df

   a           b           c          d
1   0.80591818  1.38390992 -1.7790444 -1.89852788
2  -0.70012506 -0.07827119  0.4650127 -0.27076025
3  -0.41813323  1.91505417 -0.3363942 -0.84107710
4   0.63352007  1.99676150  0.8391021 -0.15165179
5   1.39585645  1.12494308  0.6680085 -0.06960897
6   2.13611213  0.37507286 -1.0281409  1.19371141
7  -0.19430557  0.47011362 -0.1996675 -0.82175730
8  -1.21289856  0.22791739  0.9070531 -0.60170761
9   0.06137619  1.72726134  0.1307094 -0.15471159
10  0.13739889 -1.96582419  0.8646320 -2.07222092

In [8]:
median(df$a)
median(df$b)
median(df$c)
median(df$d)

[1] 0.09938754

[1] 0.7975284

[1] 0.297861

[1] -0.4362339

In [13]:
(output <- vector("double", ncol(df)))     #1.输出
seq_along(df)
1:length(df)
for (i in seq_along(df)) {               #2.迭代器
  output[[i]] <- median(df[[i]])         #3.循环体
}
output  #输出结果略

[1] 0 0 0 0

[1] 1 2 3 4

[1] 1 2 3 4

[1]  0.09938754  0.79752835  0.29786105 -0.43623393

## 2. for循环变种

(1) 修改已存在的对象，创建的新对象

有时需要用for循环修改一个已存在的对象，例如，对数据框 df 的每一列做归一化：

In [15]:
rescale01 <- function(x) {
  rng <- range(x, na.rm = TRUE)
  (x - rng[1]) / (rng[2] - rng[1])
}
df$a <- rescale01(df$a)
df$b <- rescale01(df$b)
df$c <- rescale01(df$c)
df$d <- rescale01(df$d)
df

   a         b         c         d
1  0.6028099 0.8453405 0.0000000 0.0531833
2  0.1531119 0.4763438 0.8354340 0.5515915
3  0.2373135 0.9793803 0.5370804 0.3769655
4  0.5513326 1.0000000 0.9747027 0.5880615
5  0.7789629 0.7799875 0.9110067 0.6131823
6  1.0000000 0.5907499 0.2795518 1.0000000
7  0.3041474 0.6147344 0.5879819 0.3828811
8  0.0000000 0.5536137 1.0000000 0.4502584
9  0.3804929 0.9319888 0.7109771 0.5871246
10 0.4031929 0.0000000 0.9842071 0.0000000

In [16]:
for (i in seq_along(df)) {
    df[[i]] <- rescale01(df[[i]])
}
df

   a         b         c         d
1  0.6028099 0.8453405 0.0000000 0.0531833
2  0.1531119 0.4763438 0.8354340 0.5515915
3  0.2373135 0.9793803 0.5370804 0.3769655
4  0.5513326 1.0000000 0.9747027 0.5880615
5  0.7789629 0.7799875 0.9110067 0.6131823
6  1.0000000 0.5907499 0.2795518 1.0000000
7  0.3041474 0.6147344 0.5879819 0.3828811
8  0.0000000 0.5536137 1.0000000 0.4502584
9  0.3804929 0.9319888 0.7109771 0.5871246
10 0.4031929 0.0000000 0.9842071 0.0000000

(2) 循环模式

· 根据数值索引：for(i in seq_along(xs), 用x[[i]] 提取值。

· 根据元素值：for(x in xs). 若你只关心附带作用，这特别有用。例如绘图、保存文件等，因为很难高效率地保存这种结果。

· 根据名字：for(nm in names(xs)). 对每个名字，访问其对应的值 x[[nm]], 若你需要使用图形标题或文件的名称，这就很有用。当创建命名的输出时，确保按如下方式命名结果向量：

(3) 结果长度未知

有时候，你可能不知道输出结果有多长。例如，你想要模拟一些长度随机的随机向量。你可能优先想到通过逐步增加长度的方法解决该问题：

In [18]:
means <- c(0, 1, 2)
output <- double() #c()
for (i in seq_along(means)) {
  n <- sample(100, 1)
  output <- c(output, rnorm(n, means[[i]]))
}
str(output)

 num [1:228] -0.0442 -0.6136 -1.0149 0.4602 -0.0931 ...

但这种做法很低效，因为每次迭代，R都要复制上一次迭代的全部数据 .

一个好的方法是，先将结果保存为列表，等循环结束再将列表重组为一个单独的向量：

In [19]:
out <- vector("list", length(means))
for (i in seq_along(means)) {
  n <- sample(100, 1)
  out[[i]] <- rnorm(n, means[[i]])
}
str(out)

List of 3
 $ : num [1:51] -1.6787 0.0505 -0.0601 0.4983 -0.5366 ...
 $ : num [1:53] 1.439 1.477 1.9 3.239 0.438 ...
 $ : num [1:85] 2.977 2.459 0.913 1.67 0.775 ...

In [20]:
str(unlist(out))

 num [1:189] -1.6787 0.0505 -0.0601 0.4983 -0.5366 ...

这里是用unlist()函数将一个向量的列表摊平为一个单独的向量。更严格的方法是用purrr包中的flatten_dbl(), 若输入不是double型的列表，将会报错。

还有两种结果长度未知的情形：

· 生成一个长字符串。不是用paste()函数将上一次的迭代结果拼接到一起，而是将结果保存为字符向量，再用函数paste(output, collapse= " ")合并为一个单独的字符串；

· 生成一个大的数据框。不是依次用rbind()函数合并每次迭代的结果，而是将结果保存为列表，再用dplyr包中的bind_rows(output)函数合并成一个单独的数据框。

所以，遇到上述模式时，要先转化为更复杂的结果对象，最后再做一步合并。

## 3. while循环

有时候你甚至不知道输入序列有多长，这通常出现在做模拟的时候。例如，你可能想要在一行中循环直到连续出现3个“Head”，此时不适合用for循环，而是适合用while循环。

while循环更简单些，因为它只包含两个组件：条件、循环体：

while (condition) {

  #body
  
}

While循环是比for循环更一般的循环，因为for循环总可以改写为while循环，但while循环不一定能改写为for循环：

下面用while循环实现：抛一枚硬币直到连续出现3次“正面”，需要的次数：

In [21]:
flip <- function() sample(c("Tail", "Head"), 1)
 
flips <- 0
nheads <- 0
 
while (nheads < 3) {
  if (flip() == "Head") {
    nheads <- nheads + 1
  } else {
    nheads <- 0
  }
  flips <- flips + 1
}
flips

[1] 5

## 4. Repeat循环

repeat 循环会一直执行代码，直到条件语句为 true 时才退出循环，退出要使用到 break 语句。

语法格式如下：

repeat { 

    // 相关代码 
    
    if(condition) {
    
       break
       
    }
}

以下实例在变量 cnt 为 5 时退出循环，cnt 为计数变量：

In [22]:
v <- c("Google","Runoob")
cnt <- 2

repeat {
   print(v)
   cnt <- cnt+1
   
   if(cnt > 5) {
      break
   }
}

[1] "Google" "Runoob"
[1] "Google" "Runoob"
[1] "Google" "Runoob"
[1] "Google" "Runoob"

## 循环控制
### break

R 语言的 break 语句插入在循环体中，用于退出当前循环或语句，并开始脚本执行紧接着的语句。

如果你使用循环嵌套，break 语句将停止最内层循环的执行，并开始执行的外层的循环语句。

break 也常用于 switch 语句中。

### next
next 语句用于跳过当前循环，开始下一次循环（类似其他语言的 continue）。

以下实例输出 26 个字母的前面 6 个字母，在字母为 D 的时候跳过当前的循环，进行下一次循环：

In [23]:
v <- LETTERS[1:6]
for ( i in v) {
   
   if (i == "D") {  # D 不会输出，跳过这次循环，进入下一次
      next
   }
   print(i)
}

[1] "A"
[1] "B"
[1] "C"
[1] "E"
[1] "F"

本节课资料来源：

https://www.runoob.com/r/r-loop.html

https://zhuanlan.zhihu.com/p/70502734